<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/admin.css" rel="stylesheet">
    <title> Home </title>
    <!-- <style>
        .circle1 {
            animation: anim1 1s linear forwards;
            stroke-dasharray: 280;
            stroke-dashoffset: 280;
        }

        @keyframes anim1 {
            100% {
                stroke-dashoffset: 154;
            }
        }
    </style> -->
</head>

<body>

    <div class="left-side">
        <span class="logo">ProHealth</span>
        <img class="left_photo" src="/images/background2.png">
    </div>

    <div class="top-side">
        <a href="forms"><button class="forms">forms</button></a>
        <a onclick="openPopup2()" style="cursor: pointer;">
            <img src="/images/profile.png">
        </a>
        <div id="popupContainer2" class="popup-container2">
            <div class="popup-content profile-input ">
                <!-- Content for the popup window -->
                <img class="profile_photo" id="picture2" name="picture" src="<%=picture %>" width="200" height="200">
                <form action="/rad_profile" method="POST" enctype="multipart/form-data">
                    <div>
                        <label for="fName">Name:</label>
                        <input type="text" name="fullName" placeholder="full name" value="<%=fname +' '+ lname %>"
                            required>
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" name="email" placeholder="email" value="<%=email %>" required>
                    </div>
                    <div>
                        <label for="fName">Address:</label>
                        <input type="text" name="address" placeholder="address" value="<%=address%>" required>
                    </div>
                    <div>
                        <label for="fName">Age:</label>
                        <input type="number" name="age" placeholder="age" value="<%=age%>" required>
                    </div>
                    <div>
                        <label for="fName">Sex:</label>
                        <input type="text" name="sex" placeholder="sex" value="<%=sex%>" required>
                    </div>
                    <div>
                        <label for="fName">Phone:</label>
                        <input type="tel" name="phone_no" placeholder="phone number" value="<%=phone_no%>" required>
                    </div>
                    <div>
                        <label>Change Password:</label>
                        <input type="password" name="password" placeholder="new password" maxlength="12">
                    </div>
                    <div>
                        <label>Picture:</label>
                        <input type="file" id="fileInput" name="picture" accept="image/*" required>
                    </div>
                    <div>
                        <input class="submit-profile-btn" type="submit" value="save">
                    </div>
                </form>
                <div onclick="closePopup2()" class="close_btn"> &times; </div>
            </div>
        </div>
        <a href="/logout">
            <img src="/images/logout.png">
        </a>
    </div>
    <div class="right-side">
        <div class="statistics rect">
            <div class="total scans">
                <p><span>Scans</span> <br>
                    <%=scansno%> scan
                </p>
            </div>
            <div class="total scans">
                <p><span>
                        Radiologists
                    </span> <br>
                    <%=radiologistsno %>
                </p>
            </div>
            <div class="total scans">
                <p><span>
                        Doctors
                    </span> <br>
                    <%=total_doctors %>
                </p>
            </div>
        </div>

        <div class="doctors rect">
            <img src="/images/doctor1.jpg" alt="">
            <a href="/doctors_admin">
                <p class="title-rect">Doctors</p>
            </a>
            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <div id="number">
                            <%=Math.round(orthopedist_percentage)%>%
                        </div>
                    </div>
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                        </linearGradient>
                    </defs>
                    <circle class="circle1" cx="54.5" cy="54.5" r="44" stroke-linecap="round" />

                </svg>
                <p>orthopedist</p>
            </div>
            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <div id="number">
                            <%=Math.round(oncologist_percentage)%>%
                        </div>
                    </div>
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                        </linearGradient>
                    </defs>
                    <circle class="circle2" cx="54.5" cy="54.5" r="44" stroke-linecap="round" />
                </svg>
                <p>oncologist</p>
            </div>

            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <div id="number">
                            <%=Math.round(neurologist_percentage)%>%
                        </div>
                    </div>
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                        </linearGradient>
                    </defs>
                    <circle class="circle3" cx="54.5" cy="54.5" r="44" stroke-linecap="round" />
                </svg>
                <p>neurologist</p>
            </div>
        </div>

        <div class="radiologists rect">
            <a href="/radiologists_admin">
                <p class="title-rect">Radiologists</p>
            </a>
            <img src="/images/rad4.jpg" class="backimg">
            <p>Total Females: 13 <br>Total Males: 20 </p>
        </div>

        <div class="engineers rect">
            <a href="/engineers_admin">
                <p class="title-rect">Engineers & Machines</p>
            </a>
            <div class="slideshow-container">
                <div class="slideshow">
                    <img src="/images/machine2.jpg" alt="Image 2" width="250px" height="300px">
                    <img src="/images/machine7.jpg" alt="Image 1" width="250px" height="300px">
                    <img src="/images/engineer1.jpg" alt="Image 3" width="250px" height="300px">
                    <img src="/images/engineer2.jpg" alt="Image 4" width="250px" height="300px">
                </div>
            </div>
        </div>
    </div>
    <script src="/css/patient.js">
    </script>
</body>

</html>