<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/doctor.css" rel="stylesheet">

    <title> profile </title>
</head>

<body>
    <section class="header">
        <img class="logo" src="/images/logo2.jpg"></img>
        <div class="search">
            <input placeholder="Search..." type="text">
            <button type="submit">Go</button>
        </div>
    </section>


    <section class="profile-block"> <!--PROFILE BLOCK-->
        <div class="profile-head">
            <h2>My Profile</h2>
            <button class="open-file" onclick="openPopup3()">
                <span class="file-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 71 67">
                        <path stroke-width="5" stroke="black"
                            d="M41.7322 11.7678L42.4645 12.5H43.5H68.5V64.5H2.5V2.5H32.4645L41.7322 11.7678Z"></path>
                    </svg>
                    <span class="file-front"></span>
                </span>
            </button>
            <div id="popupContainer3" class="popup-container2">
                <div class="popup-content">
                    <!-- Content for the popup window -->
                    <img class="profile_photo" id="profile-photo" name="picture2" src="/images/<%=picture %>"
                        width="150" height="150">
                        <form id="updateForm">
                            <div class="name" id="fname">
                                <input type="text" name="fname" value="<%= typeof fname !== 'undefined' ? fname : '' %>" placeholder="fname" class="editable-text3">
                            </div>
                            <div class="line"></div>
                            <div class="container_ifo">
                                <div class="info" id="email">
                                    Email: <input type="text" name="email" value="<%= typeof email !== 'undefined' ? email : '' %>" placeholder="email" class="editable-text2">
                                </div>
                                <div class="info" id="address">
                                    Address: <input type="text" name="adress" value="<%= typeof adress !== 'undefined' ? adress : '' %>" placeholder="address" class="editable-text">
                                </div>
                                <div class="info-ii">
                                    <div class="info" id="job">
                                        Job: <input type="text" name="job" value="<%= typeof job !== 'undefined' ? job : '' %>" placeholder="job" class="editable-text" readonly>
                                    </div>
                                    <div class="info" id="salary">
                                        Salary: <input type="text"  name="salary" value="<%= typeof salary !== 'undefined' ? salary : 0 %>" placeholder="salary" class="editable-text" readonly>
                                    </div>
                                </div>
                                <div class="info-ii">
                                    <div class="info" id="age">
                                        Age: <input type="text" name="age" value="<%= typeof age !== 'undefined' ? age : 0 %>" placeholder="age" class="editable-text">
                                    </div>
                                    <div class="info" id="ass_name">
                                        Assistant Name: <input type="text" name="ass_name" value="<%= typeof ass_name !== 'undefined' ? ass_name : '' %>" placeholder="ass_name" class="editable-text">
                                    </div>
                                </div>
                                
                                <div class="info" id="phone_no">
                                    Phone Number: <input type="text" name="phone_no" value="<%= typeof phone_no !== 'undefined' ? phone_no : 0 %>" placeholder="phone_no" class="editable-text2">
                                </div>
                            <div class="info-ii">
                                <div class="info" id="special">
                                    Specialization: <input type="text" name="special" value="<%= typeof special !== 'undefined' ? special : '' %>" placeholder="special" class="editable-text">
                                </div>
                                <div class="info" id="dr_room">
                                    Doctor Room: <input type="text" name="dr_room" value="<%= typeof dr_room !== 'undefined' ? dr_room : 0 %>" placeholder="dr_room" class="editable-text">
                                </div>
                            </div>

                                <div class="info-ii">
                                    <div class="info" id="start_time">
                                        Start Shift: <input type="text"  name="start_time" value="<%= typeof start_time !== 'undefined' ? start_time : '' %>" placeholder="start_time" class="editable-text" readonly>
                                    </div>
                                    <div class="info" id="end_time">
                                        End Shift: <input type="text" name="end_time" value="<%= typeof end_time !== 'undefined' ? end_time : '' %>" placeholder="end_time" class="editable-text" readonly>
                                    </div>
                                </div>
                                <div class="info" id="picture">
                                    Photo: <input type="file" name="picture2" id="picture2" accept="image/*" class="file-input">
                                </div>
                                <input type="submit" class="btn" id="save_info" value="Save Info">
                            </div>
                        </form>
                    <div onclick="closePopup3()" class="close_btn"> &times; </div>
                </div>
            </div>
        </div>

        <div class="profile-body">
            <img name="picture2" src="/images/<%=picture %>" class="profile-pic"></img>
            <div class="profile-details">
                <h2><%= fname %></h2>
                <p>Doctor</p>
            </div>
        </div>
    </section>



    <section class="good-day-section">
        <h1>Good Day, Dr. <%= fname %></h1>
    </section>


    <section class="task-bar">
        <div class="task-bar-title">
            <h2> Task Bar </h>
        </div>
        <div class="task-bar-elements" id="task-bar-elements">

            <div class="engno">
                <img src="/images/icons8-reports-100.png" alt="icon" class="engicon">
                <h1><%= scansNo %></h1>
                <p>Scans</p>
            </div>
        </div>
    </section>

    <!-- Modal for marking task as done -->
    <div id="task-modal" class="modal">
        <div class="modal-content">
            <!-- <span class="close">&times;</span>
            <p>Are you sure you want to mark this task as done?</p>
            <button id="mark-done-button">Mark as Done</button> -->
        </div>
    </div>

    <!-- Modal for adding a new task -->
    <div id="add-task-modal" class="modal">
        <div class="modal-content">
            <!-- <span class="close">&times;</span>
            <p>Add a new task</p>
            <input type="text" id="new-task-input" placeholder="Enter task title">
            <button id="add-new-task-button">Add Task</button> -->
        </div>
    </div>



    <section class="scans-section"> <!--SCANS SECTION BELOW GOOD DAY-->
        <div class="scans-section-header"> <!--SCANS SECTION HEADER-->
            <div class="scans-button">
                <h3>Scans</h3>
            </div>
            <div class="viewmore-button">
                <h3><a href="#view-more">View More</a></h3>
            </div>
        </div>


        <div class="scans-section-scrollbar"> <!--SCANS SECTION WITH BLOCKS AND SCROLL BAR-->
            <% scans.forEach((scan, scanIndex) => { %>
                <% scan.scan_pics.forEach((pic, picIndex) => { %>
            <div class="scan-block"> <!--A SEPARATE BLOCK-->
                <div class="scan-code">
                    <h3><a href="/doctor_scan?scan_id=<%= scan.scan_id %>&pic_index=<%= picIndex %>"><%= pic %></a></h3>
                </div> 

                <div class="send-button">
                    <h3>
                        <a href="#" class="show-login form1" data-scan-id="<%= scan.scan_id %>" data-dr-id="<%= scan.dr_id %>" data-pic-index="<%= picIndex %>">Write Report</a>
                    </h3>
                    <% console.log(scan.scan_id) %>
                    <% console.log(scan.dr_id) %>
                    <% console.log(picIndex) %>
                </div>
            </div>
            <% }) %> 
            <% }) %>
        
        </div>
            </section>
           

        <div id="popupContainer" class="popup">
            <div class="close-btn" onclick="closePopup()">&times;</div>
             <div class="form">
                <div class="form-element">
                    <form action="/write_report" method="POST" id="reportForm">
                        <input type="hidden" name="scan_id" id="scanId" value="scanId">
                        <input type="hidden" name="dr_id" id="drId" value="drId">
                        <input type="hidden" name="picIndex" id="picIndex" value="picIndex">
                         <div class="form-element">
                            <input type="text" class="form-text" id="write" name="report" placeholder="Write your report here">
                        </div>
                        <div class="form-element">
                             <button type="submit" id="send">Send</button>
                        </div>
                    </form>
                </div>
             </div>
        </div>
    <section class="contact-form"> <!--Task Bar BLOCK-->
        <h2 class="contact-form-title">
            Got any requests?
        </h2>

        <button class="contact-form-button" id="contact-btn"> Contact Us</button>

    </section>
    <div id="popupContainer2" class="popup">
        <div class="close-btn" onclick="closePopup2()">&times;</div>
        <div class="form">
            <form action="/contact_form" method="POST">
            <div class="form-element">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="user_email" placeholder="Write your e-mail here">
            </div>
            <div class="form-element">
                <p>You make this form for:</p>
            </div>
            <!-- <div class="form-element">
                <input type="radio" id="report" name="why" value="scan Report">
                <label for="report">Scan Report</label>
            </div> -->
            <div class="form-element">
                <input type="radio" id="complaint" name="why" value="complaint">
                <label for="complaint">Complaint</label>
            </div>
            <div class="form-element">
                <input type="radio" id="inquiry" name="why" value="inquiry">
                <label for="inquiry">Inquiry</label>
            </div>
            <div class="form-element">
                <input type="text" class="form-text" id="write" name="body" placeholder="Write your form here">
            </div>
            <div class="form-element">
                <!-- <button type="submit" id="close-btn">Send</button> -->
                <input type="submit" id="close-btn" value="send">

            </div>
        </form>
        </div>
    </div>

    </section>
    <script src="/css/patient.js">

    </script>

</body>

</html>