<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <link href="/css/profile.css" rel="stylesheet">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->

  <title> profile </title>


</head>

<body class="body">
  <div class="side">
    <img class="profile_photo" id="profile-photo" name="picture" src="/images/<%=picture %>" width="230" height="230">
    <p class="name" id="Name" name="Name">
      <%= fname %>
    </p>

    <div class="line"></div>
    <p class="date"> Member since : May 2014</p>
    <div class="line"></div>
    <div class="posts">
      <img class="icon1" src="/images/posts icon.png" width="80" height="80">
      <p class="txt-icon1"> Posts: 333</p>
    </div>
    <div class="tasks">
      <img class="icon2 " src="/images/tasks icon.png" width="80" height="80">
      <p class="txt-icon2"> Tasks Done: 500 </p>
    </div>





  </div>
  <div class="info-container">
    <h3 class="info-title">User Info</h3>
    <div class="line-info"></div>
    <div class="container-info-info">
      <div class="info">First Name:<span id="First-name" name="First-name">
          <%= fname %>
        </span> </div>
      <div class="info"> Last Name:<span id="last-name" name="last-name">
          <%= lname %>
        </span> </div>
      <div class="info"> Address:<span id="Adress" name="Adress">
          <%= adress %>
        </span> </div>
      <div class="info">Email: <span id="Email" name="Email">
          <%= email %>
        </span> </div>

    </div>
    <button class="edit-btn" id="edit-btn"> Edit Info</button>
    <div class="icons_container">
      <div class="media-icon">
        <img src="/images/facebook.png" width="35" height="35">
        <img src="/images/github (1).png" width="35" height="35">
        <img src="/images/insta.png" width="35" height="35">
        <img src="/images/linkedin.png" wwidth="35" height="35">
      </div>
      <div class="links">
        <a href="<%=facebook %>" id="facebook" name="facebook">
          <%= fname %>
        </a>
        <a href="<%=github %>" id="github" name="github">
          <%= lname %>
        </a>
        <a href="<%=instgram %>" id="insta" name="insta">
          <%= fname %>
            <%= lname %>
        </a>
        <a href="<%=linkedin %>" id="linkedin" name="linkedin">
          <%= fname %>
            <%= lname %>
        </a>
      </div>
    </div>

  </div>

  </div>


  <section class="container-n">

    <div class="navbar">
      <a href="#Activity" onclick="showSection('activity', this)" class="active">Activity</a>
      <a href="#Friends" onclick="showSection('friends', this)">Friends</a>
      <a href="#Chat" onclick="showSection('chat', this)">Chat</a>
    </div>

    <div class="section bars active" id="activity">
      <div>
        <img src="/images/comment.png" alt="Logo 1" class="logo">
        <p>Mohammed commented on your last post.</p>
        <p>10/3/2024</p>
      </div>
      <div>
        <img src="/images/friend add.png" alt="Logo 2" class="logo">
        <p>Nour Khaled sent you a friend request.</p>
        <p>2/3/2024</p>
      </div>
      <div>
        <img src="/images/thumb.png" alt="Logo 2" class="logo">
        <p>Mayar Mohamed liked your post.</p>
        <p>4/3/2024</p>
      </div>
      <div>
        <img src="/images/thumb.png" alt="Logo 2" class="logo">
        <p>Moamen Hefny liked your post.</p>
        <p>10/4/2024</p>
      </div>
      <div>
        <img src="/images/comment.png" alt="Logo 1" class="logo">
        <p>Nariman Ahmed commented on your post.</p>
        <p>12/4/2024</p>
      </div>
      <div>
        <img src="/images/friend add.png" alt="Logo 1" class="logo">
        <p>Omar Ashraf sent you a friend request.</p>
        <p>18/4/2024</p>
      </div>

      <div>
        <img src="/images/thumb.png" alt="Logo 2" class="logo">
        <p>Halla Ahmed liked your post.</p>
        <p>22/4/2024</p>
      </div>
    </div>

    <div class="section bars" id="friends">
      <!-- About Section Content -->
      <div>
        <img src="/images/malee.png" alt="Logo 1" class="logo">
        <p>Moamen Hefny</p>
        <p></p>
      </div>
      <div>
        <img src="/images/female.png" alt="Logo 2" class="logo">
        <p>Mariam mohamed</p>
        <p></p>
      </div>
      <div>
        <img src="/images/female.png" alt="Logo 2" class="logo">
        <p>Menna Moataz</p>
        <p></p>
      </div>
      <div>
        <img src="/images/malee.png" alt="Logo 2" class="logo">
        <p>Mohamed Hisham</p>
        <p></p>
      </div>
      <div>
        <img src="/images/female.png" alt="Logo 1" class="logo">
        <p>Salma Ashraf</p>
        <p></p>
      </div>
      <div>
        <img src="/images/malee.png" alt="Logo 1" class="logo">
        <p>Abdelrahman Amr</p>
        <p></p>
      </div>

      <div>
        <img src="/images/malee.png" alt="Logo 2" class="logo">
        <p>Nader Hanna</p>
        <p></p>
      </div>
    </div>

    <div class="section bars" id="chat">
      <!-- Services Section Content -->
      <div>
        <img src="/images/chat.png" alt="Logo 1" class="logo">
        <p>Mariam Ahmed: Wanna go shopping?</p>
        <p>Last seen 18 mins ago</p>
      </div>
      <div>
        <img src="/images/dots.png" alt="Logo 2" class="logo">
        <p>Salma Mohamed: Typing...</p>
        <p>Active now</p>
      </div>
      <div>
        <img src="/images/chat.png" alt="Logo 2" class="logo">
        <p>Moamen Hefny: Yoo!</p>
        <p>Last seen 9 mins ago</p>
      </div>
      <div>
        <img src="/images/chat.png" alt="Logo 2" class="logo">
        <p>Nariman Ahmed: Are you free on Saturday?</p>
        <p>Last seen 5 mins ago</p>
      </div>
      <div>
        <img src="/images/dots.png" alt="Logo 1" class="logo">
        <p>Malak Ahmed: Typing...</p>
        <p>Active now</p>
      </div>
    </div>

  </section>




  <script src="/css/profile.js">

  </script>

</body>



</html>