<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/patient.css" rel="stylesheet">
    <!-- <link href="/css/forms.css" rel="stylesheet"> -->

    <title> profile </title>


</head>

<body>
    <section class="header">
        <img class="logo" src="/images/logo2.jpg"></img>
        <div class="search">
            <input placeholder="Search..." type="text">
            <button type="submit"><p class="go">Go</p></button>
        </div>
    </section>


    <section class="profile-block"> <!--PROFILE BLOCK-->
        <div class="profile-head">
            <h2>My Profile</h2>
            <button class="open-file" onclick="openPopup2()">
                <span class="file-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 71 67">
                        <path stroke-width="5" stroke="black"
                            d="M41.7322 11.7678L42.4645 12.5H43.5H68.5V64.5H2.5V2.5H32.4645L41.7322 11.7678Z"></path>
                    </svg>
                    <span class="file-front"></span>
                </span>
            </button>
            <div id="popupContainer2" class="popup-container2">
                <div class="popup-content">
                    <!-- Content for the popup window -->
                    <img class="profile_photo" id="profile-photo" name="profile-photo" src="/images/malee.png"
                        width="200" height="200">
                        <form action="/rad_profile" method="POST">
                            <div>
                                <label for="fName">Name:</label>
                                <input type="text" name="fullName" placeholder="<%=fname +' '+ lname %>" required>
                            </div>
                            <br>
                            <div>
                                <label for="email">Email:</label>
                                <input type="email" name="email" placeholder="<%=email %>" required>
                            </div>
                            <br>
                            <div>
                                <label for="fName">Address:</label>
                                <input type="text" name="address" placeholder="<%=address%>">
                            </div>
                            <br>
                            <div>
                                <label for="fName">Age:</label>
                                <input type="number" name="age" placeholder="<%=age%>">
                            </div>
                            <br>
                            <div>
                                <label for="fName">Sex:</label>
                                <input type="text" name="sex" placeholder="<%=sex%>">
                            </div>
                            <br>
                            <div>
                                <label for="fName">Phone:</label>
                                <input type="number" name="phone_no" placeholder="<%=phone_no%>">
                            </div>
                            <br>
                            <div>
                                <label for="fName">Salary:</label>
                                <input type="number" name="Salary" placeholder="<%=salary%>" readonly>
                            </div>
                            <br>
                            <div>
                                <label for="fName">Start Shift:</label>
                                <input type="number" name="start_shift" placeholder="<%=start_shift%>" readonly>
                            </div>
                            <br>
                            <div>
                                <label>End Shift:</label>
                                <input type="number" name="end_shift" placeholder="<%=end_shift%>" readonly>
                            </div>
                            <br>
                            <div>
                                <label>Change Password:</label>
                                <input type="number" name="password" placeholder="new password" maxlength="12">
                            </div>
                            <br>
                            <div>
                                <label>Picture:</label>
                                <input type="file" id="fileInput" name="picture" accept="image/*">
                            </div>
                            <br>
                            <div>
                                <input type="submit" value="save">
                            </div>
                        </form>

                    <div onclick="closePopup2()" class="close_btn"> &times; </div>
                </div>
            </div>
        </div>
        <div class="profile-body">
            <img src="/images/profilepic.jpeg" class="profile-pic"></img>
            <div class="profile-details">
                <h2>Dr. Nariman Ahmed</h2>
                <p>Patient</p>
            </div>
        </div>
    </section>



    <section class="good-day-section">
        <h1>Good Day, Mrs. Nariman</h1>
    </section>


    <section class="reservations-bar">
        <div class="reservations-title">
            <h2>Reservations</h2>
        </div>
        <div class="reservations-elements" id="reservations-elements">
            <div class="reservations-div">
                <div class="deets-1">  <h3>MRI</h3>  </div>
                <div class="deets-2">  <p>12/3</p>  <p>3:00pm</p></div>
            </div>
            <div class="reservations-div">
                <div class="deets-1">  <h3>CT</h3>  </div>
                <div class="deets-2">  <p>12/3</p>  <p>4:00pm</p></div>
            </div>
            <div class="reservations-div">
                <div class="deets-1">  <h3>X-ray</h3>  </div>
                <div class="deets-2">  <p>12/3</p>  <p>5:00pm</p></div>
            </div>
        </div>
        <div class="create-new">
            <button id="create-new-btn">Create New</button>
        </div>
    </section>

    <!-- Modal -->
<div id="create-new-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Create New Reservation</h2>
            <span class="close-btn">&times;</span>
        </div>
        <form id="create-new-form">
            <label for="scan-type">Scan Type:</label>
            <select id="scan-type" name="scan-type">
                <option value="xray">X-Ray</option>
                <option value="mri">MRI</option>
                <option value="ct">CT Scan</option>
            </select>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date">
            <label for="time">Time:</label>
            <select id="time" name="time">
                <option value="08:00">08:00 AM</option>
                <option value="08:30">08:30 AM</option>
                <option value="09:00">09:00 AM</option>
                <option value="09:30">09:30 AM</option>
                <option value="10:00">10:00 AM</option>
                <option value="10:30">10:30 AM</option>
                <option value="11:00">11:00 AM</option>
                <option value="11:30">11:30 AM</option>
                <option value="12:00">12:00 PM</option>
                <option value="12:30">12:30 PM</option>
                <option value="13:00">01:00 PM</option>
                <option value="13:30">01:30 PM</option>
                <option value="14:00">02:00 PM</option>
                <option value="14:30">02:30 PM</option>
                <option value="15:00">03:00 PM</option>
                <option value="15:30">03:30 PM</option>
                <option value="16:00">04:00 PM</option>
                <option value="16:30">04:30 PM</option>
                <option value="17:00">05:00 PM</option>
                <option value="17:30">05:30 PM</option>
                <option value="18:00">06:00 PM</option>
                <option value="18:30">06:30 PM</option>
                <option value="19:00">07:00 PM</option>
                <option value="19:30">07:30 PM</option>
                <option value="20:00">08:00 PM</option>
                <option value="20:30">08:30 PM</option>
                <option value="21:00">09:00 PM</option>
                <option value="21:30">09:30 PM</option>
                <option value="22:00">10:00 PM</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>




    <section class="scans-section"> <!--SCANS SECTION BELOW GOOD DAY-->
        <div class="scans-section-header"> <!--SCANS SECTION HEADER-->
            <div class="scans-button">
                <h3>Scans</h3>
            </div>
            <div class="viewmore-button">
                <h3><a href="#view-more">View More</a></h3>
            </div>
        </div>
        <div class="scans-section-scrollbar"> <!--SCANS SECTION WITH BLOCKS AND SCROLL BAR-->
            
            <% scans.scan_pics.forEach((pic, picIndex) => { %>
        <div class="scan-block"> <!--A SEPARATE BLOCK-->
            <div class="scan-code">
                <h3><%= pic %></h3>
            </div> <!--E3MELEEHOM ANCHOR BOTH-->
            <div class="send-button">
                <h3><a href="/patient_report?scan_id=<%= scans.scan_id %>&pic_index=<%= picIndex %>">Open</a></h3>
            </div>
        </div>
        <% }); %>
        

    </div>


           </section>
    <section class="contact-form"> <!--Task Bar BLOCK-->
        <h2 class="contact-form-title">
            Got any requests?
        </h2>

        <button class="contact-form-button" id="contact-btn"> Contact Us</button>
        <div id="popupContainer2" class="popup">
            <div class="close-btn" onclick="closePopup()">&times;</div>
            <div class="form">
                <div class="form-element">
                    <label for="email">E-mail</label>
                    <input type="text" id="email" placeholder="Write your mail here">
                </div>
                <div class="form-element">
                    <p>You make this form for:</p>
                </div>
                <div class="form-element">
                    <input type="radio" id="report" name="why">
                    <label for="report">Scan Report</label>
                </div>
                <div class="form-element">
                    <input type="radio" id="complaint" name="why">
                    <label for="complaint">Complaint</label>
                </div>
                <div class="form-element">
                    <input type="radio" id="inquiry" name="why">
                    <label for="inquiry">Inquiry</label>
                </div>
                <div class="form-element">
                    <input type="text" class="form-text" id="write" placeholder="Write your form here">
                </div>
                <div class="form-element">
                    <button id="send">Send</button>
                </div>
            </div>
        </div>

    </section>
    <script src="/css/patient.js">
    </script>
</body>

</html>