<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link href="/css/doctors_admin.css" rel="stylesheet">


    <title> radiologists </title>



</head>

<body>

    <div class="container">
        <img src="/images/radiologist.jpg" width="550px" height="400px" class="radiologist_img">
        <div class="radiologist_table">
            <div class="navbar">
                <div class="title">Our Radiologists</div>
            </div>

            <div class="section bars active">
                <% radiologists.forEach(function(radiologist) { %>
                    <div onclick="openPopup( '<%= radiologist.radiologist_id %>')">
                        <% if (radiologist.sex === 'male') { %>
                            <img src="/images/Dr icon.png" alt="Male Doctor Image" class="logo" name="sex" value="male">
                        <% } else { %>
                            <img src="/images/drr.png" alt="Female Doctor Image" class="logo" name="sex" value="female">
                        <% } %>
                
                        <p> Dr. <%= radiologist.fname %> <%= radiologist.lname %></p>
                        <button class="scans-btn" id="scans-btn" onclick="toggleScans('<%= radiologist.radiologist_id %>')">Scans</button>
                    </div>
                <% }); %>
                
            </div>
            <button class="Add_btn" id="ADD">Add</button>

            <div class="slideshow-container">
                <div class="slideshow">
                    <img src="/images/rD (2).jpg" alt="Image 2" width="250px" height="300px">
                    <img src="/images/rD (1).jpg" alt="Image 1" width="250px" height="300px">
                    <img src="/images/rD (3).jpg" alt="Image 3" width="250px" height="300px">
                    <img src="/images/rD (4).jpg" alt="Image 4" width="250px" height="300px">
                </div>
            </div>
            <div class="boxx">
                <div class="skill">
                    <div class="outer">
                        <div class="inner">
                            <div class="number" id="number">65%</div>
                        </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="220px" height="220px">
                        <defs>
                            <linearGradient id="GradientColor">
                                <stop offset="0%" stop-color="#b9ddde" />
                                <stop offset="100%" stop-color="#315772" />
                            </linearGradient>
                        </defs>
                        <circle class="circle1" cx="115" cy="100" r="80" stroke-linecap="round" />
                    </svg>
                    <p class="svg_caption">women</p>
                </div>
            </div>
        </div>
    </div>

    <div id="popupContainer" class="popup-container">
        <div class="popup-content">
            <img class="profile_photo" id="picture2" name="picture2" src="" width="170"
                        height="170">
            <!-- Form elements with value attributes -->
            <form action="/update_rad" method="POST" enctype="multipart/form-data"  id="radiologistForm">
            
                <input type="hidden" id="radiologist_id" name="radiologist_id" >
                
               <div>
                    <label for="fullName">Full Name:</label>
                    <input type="text" id="fullname" name="fullname">
                </div>
                
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" >
                </div>
                
                <div>
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address">
                </div>
                
                <div>
                    <label for="age">Age:</label>
                    <input type="number" id="age" name="age">
                </div>
                
                <div>
                    <label for="sex">Sex:</label>
                    <input type="text" id="sex" name="sex">
                </div>
                
                <div>
                    <label for="phone_no">Phone:</label>
                    <input type="text" id="phone_no" name="phone_no">
                </div>
                
                <div>
                    <label for="salary">Salary:</label>
                    <input type="number" id="salary" name="salary">
                </div>
                
                <div>
                    <label for="start_shift">Start Shift:</label>
                    <input type="text" id="start_shift" name="start_shift">
                </div>
                
                <div>
                    <label for="end_shift">End Shift:</label>
                    <input type="text" id="end_shift" name="end_shift" >
                </div>
                
                <div>
                    <label for="password">Change Password:</label>
                    <input type="password" id="password" name="password" maxlength="12">
                </div>
                
                <div>
                    <label for="picture">Picture:</label>
                    <input type="file" id="picture" name="picture" accept="image/*">
                </div>
                
                <div class="submit-profile-btn">
                    <input type="submit" value="Update">
                </div>
            </form>
            <div onclick="closePopup()" class="close_btn">&times;</div>
        </div>
    </div>

    <div id="scanspopup" class="popup-scans">
        <div class="scans-content">
         <div class="cont">
            <h2 class="title-scans"> Radiologist’ Scans</h2>
          <!-- Content for the popup window -->
          <div class="scans-section-scrollbar"> <!-- SCANS SECTION WITH BLOCKS AND SCROLL BAR -->
            <% radiologists.forEach(function(radiologist) { %>
                <div id="scans_<%= radiologist.radiologist_id %>" class="scans-container">
                    <% if (radiologist.scans.length > 0) { %>
                        <% radiologist.scans.forEach(function(scan) { %>
                            <div class="scan-block">
                                <div class="scan-code">
                                    <h3><a href="/scan_img?scan_id=<%= scan.scan_id %>">Scan <%= scan.scan_id %></a></h3>
                                    <% scan.scan_pics.forEach((pic) => { %>
                                        <% pic = pic.replace(/\\/g, '/'); %>
                                        <% pic = pic.replace('public', ''); %>
                                        
                                    <% }); %>
                                </div>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <div class="scan-block">
                            <div class="scan-code">
                                <p>No scans available for this radiologist.</p>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% }); %>
        </div>
     
             
        </div>
          
        <div  id="close-scans" class="close_btn"> &times; </div>
        </div>
    </div>  
        
    
        
    <textarea id="radiologistsData" style="display:none;"><%= JSON.stringify(radiologists) %></textarea>
   

    <script src="/css/admin.js" defer></script>
    



</body>

</html>
